# Ignore Python bytecode and virtual environment
__pycache__/
.venv/

# Ignore node dependencies and build artifacts
**/node_modules/
frontend/dist/

# Environment variable files
*.env
**/.env

# OS files
.DS_Store